body{
    /* font-family: 'Raleway', sans-serif;  */
    font-family: 'American Typewriter', serif;
    margin: 0;
    padding: 0;
    font-size: 16pt; /* test for this! Make all sizes em or rem */
    background-image: url('../images/concrete_seamless.png');
  }
  
  h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
  }
  
  h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
  }
  
  p {
    padding: 0 30px;
  }
  
  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }
  
  *:focus{
    border: 2px solid black;
  }
  
  footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
  }
  
  /*Begin your code here*/
  /*Keyframes for animation*/
  
  @-webkit-keyframes logo_wiggle{
    /*Your code here.*/
    from {width: 100px;}
    to {width: 350px;}
  
  }
  
  @keyframes logo_wiggle{
    /*Your code here.*/
    from {width: 100px;}
    to {width: 350px;}
  
  } 
  
  #logo{
     /*Your code here.*/
    animation-duration: 2s;
    animation-name: logo_wiggle;
  }


  nav li:first-child{
    background-color:#f52e2e;
    font-size: 25pt ;
    text-transform: uppercase;
  }

  /* Navbar */
  header{
    background:#bbfcfb;
    border-bottom: 3px solid #52d5fa;
    /*Your  code here again.*/
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav_links{
    /*Your code here again.*/
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .nav_item a{
    color: black;
    text-decoration: none;
  }
  
  .nav_item a:hover, a:focus{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }
  
  .title_container{ 
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#a013e7;
    height: 400px;
    background-image: url(../images/home_bkg.jpeg);
  }

  /* .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    background-color: #adf5e0;
    padding: 15px;
  }
  
  .container > img{
    width: 100%;
    overflow: hidden;
  } */

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9,auto);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    background-color: #adf5e0;
    padding: 15px;
  }
  
  .container > img{
    width: 100%;
    overflow: hidden;
  }


  @media print { 
    .card {
      flex-basis: 200px;
    }
    /*Your code here again.*/
    /*You will want four selectors*/
    body{
      background-image: none;
    }
  
    .pricing {
      display:flex;
      align-items: flex-start;
    }
  
    .gallery{
      display:none;
    }
    
    #gallery {
      display:none;
    }
  
  }
  
  /*Your code here again.*/ 
  /*Add media query to handle reduced-motion*/
  @media screen and (prefers-reduced-motion: reduce) {
    #logo{
      animation: none;
   }
  }
  